#render a {
    color: #117ec6;
    text-decoration: none;
}
#render a:hover,a:focus {
    color: #0f6faf;
    text-decoration: underline;
}



#render h1,h2,h3,h4,h5 {
    margin: 1.3em 0 .7em 0;
    font-weight: 600;
}
#render h1 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.1);
    padding: 3px 10px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    line-height: 30px;
    font-size: 24px;
}
#render h2 {
    border-bottom: solid 1px #d9d9d9;
    line-height: 28px;
    font-size: 22px;
}
#render h3 {
    line-height: 24px;
    font-size: 18px;
}
.markdown-content h4 {
    line-height: 22px;
    font-size: 16px;
}
#render h5 {
    line-height: 20px;
    font-size: 14px;
}



#render table {
    margin: 1.0em 0;
    border-top: solid 1px #d9d9d9;
    border-left: solid 1px #d9d9d9;
}
#render thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
#render table th {
    padding: 8px 10px;
    font-weight: 900;
    background-color: white;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
#render tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#render table tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.03);
}
#render table td {
    padding: 8px 10px;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}


#render p {
    word-wrap: break-word;
    word-break: break-all;
    margin: 1.0em 0;
    font-size: 1.0em;
    line-height: 1.6em;
}
#render ul {
    line-height: 1.6em;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    margin-left: 2.0em;
}
#render li {
    line-height: 20px;
}
